# ---------------------------------------
# Python
# ---------------------------------------

__pycache__/
*.py[cod]

# ---------------------------------------
# Virtuelle Umgebung
# ---------------------------------------

.venv/

# ---------------------------------------
# macOS
# ---------------------------------------

.DS_Store

# ---------------------------------------
# VS Code
# ---------------------------------------

.vscode/

# ---------------------------------------
# Ausgaben
# ---------------------------------------

kataloge/

# ---------------------------------------
# Datenbank
# ---------------------------------------

database/*.db

# ---------------------------------------
# Build
# ---------------------------------------

build/
dist/

# PyInstaller

# ---------------------------------------
# Logs
# ---------------------------------------

*.log
logs/

# ---------------------------------------
# Test / Cache
# ---------------------------------------

.pytest_cache/
.coverage

# ---------------------------------------
# Lokale Backups
# ---------------------------------------

backup/
# ---------------------------------------
# Ecoinform Bildarchive und Bilder
# ---------------------------------------
Ecoinform/
