# ---------------------------------------
# Python
# ---------------------------------------

__pycache__/
*.py[cod]

# ---------------------------------------
# Virtuelle Umgebung
# ---------------------------------------

.venv/

# ---------------------------------------
# macOS
# ---------------------------------------

.DS_Store

# ---------------------------------------
# VS Code
# ---------------------------------------

.vscode/

# ---------------------------------------
# Ausgaben
# ---------------------------------------

kataloge/

# ---------------------------------------
# Build
# ---------------------------------------

build/
dist/

# PyInstaller
*.spec

# ---------------------------------------
# Logs
# ---------------------------------------

*.log
logs/

# ---------------------------------------
# Test / Cache
# ---------------------------------------

.pytest_cache/
.coverage